#header {
  background: #e85298;
  color: #fff;
}
#header .button {
  color: #fff;
  border-left: 2px solid #710f3c;
  border-right: 2px solid #710f3c;
}
#header .button:hover {
  background: #710f3c;
  border-color: #710f3c;
}
#header li .button {
  border-color: #e85298;
}
#header li.open .button {
  background: #710f3c;
  border-color: #710f3c;
}
#header ul.dropdown-menu {
  background: #710f3c;
}
#header ul.dropdown-menu li a {
  color: #fff;
}
.deploy-button {
  background: #b41861;
}
.deploy-button:hover {
  background: #710f3c;
}
.deploy-button-group.open #btn-deploy-options {
  background: #710f3c !important;
}
span.logo span {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  font-size: 14px !important;
}
.editor-tray-toolbar button.primary {
    border-color: #710f3c;
    color: #eee;
    background: #b41861;
}
.editor-tray-toolbar:hover button.primary {
    border-color: #710f3c;
    color: #eee;
    background: #710f3c;
}
