#header {
  background: #bb0820;
  color: #fff;
}
#header .button {
  color: #fff;
  border-left: 2px solid #8c0618;
  border-right: 2px solid #8c0618;
}
#header .button:hover {
  background: #8c0618;
  border-color: #8c0618;
}
#header li .button {
  border-color: #bb0820;
}
#header li.open .button {
  background: #8c0618;
  border-color: #8c0618;
}
#header ul.dropdown-menu {
  background: #8c0618;
}
#header ul.dropdown-menu li a {
  color: #fff;
}
.deploy-button {
  background: #ee3b53;
}
.deploy-button:hover {
  background: #8c0618;
}
.deploy-button-group.open #btn-deploy-options {
  background: #8c0618 !important;
}
span.logo span {
  font-family: "Lucida Console", Monaco, monospace;
  font-weight: bold;
  font-size: 14px !important;
}
